/* 全局scss */

$primary: #0085ff; // 主色
$secondary: #0af; // 主浅色

$disable: #cdcdcd; // 失效
$active: #0085ff; // 激活

/**
  * 文本溢出...
  * $font: 超过宽度时显示...
  */
@mixin ellipsis($font: 10em) {
  max-width: $font;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** 
  * 移动端1px
  * $position可选round | trbl， 四周或单方向
  */
@mixin onepx($position: bottom, $color: #ccc, $border-radius: initial) {
  // position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left top;
    box-sizing: border-box;
    pointer-events: none;

    border-radius: $border-radius;

    @if ($position == round) {
      border: 1px solid $color;
    } @else {
      border-#{$position}: 1px solid $color;
    }

    // 默认按照 dpr > 2
    width: 200%;
    height: 200%;
    transform: scale(0.5);

    // dpr > 3 时
    @media (-webkit-min-device-pixel-ratio: 3) {
      width: 300%;
      height: 300%;
      transform: scale(0.3333);
    }
  }
}
