/* 全局scss */

$primary-light: #0af; // 主浅色
$primary: #0085ff; // 主色
$active: #0085ff; // 激活

$success: #00d762; //按钮成功

$ignore: #ddd; // 忽略，用于符号
$slight: #999; // 轻微
$normal: #666; // 正常
$emphasize: #333; // 强调

$h1: 18px;
$desc: 12px;

$font-s: 10px;
$font-m: 12px;
$font-l: 15px;

/**
 * 清除浮动
 * $position可选before | after
 */
@mixin clearfix($position: before) {
  &::#{$position} {
    content: '';
    clear: both;
    display: table;
  }
}

/**
 * flex居中样式
 */
@mixin display-flex($justify: center, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

/**
 * absolute居中
 */
@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**
  * 文本溢出...
  * 需要指定容器宽度。父布局可用flex:1|auto + overflow:hidden，固定到自适应宽度。
  * 必须要是block元素，才能设置宽度（inline不能设置宽度），裁剪子元素。
  */
@mixin ellipsis() {
  // max-width: $font; $font: 10em
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/** 
  * 移动端1px
  * $position可选trbl单方向
  */
@mixin onepx($position: bottom, $color: #f1f1f1) {
  // position: relative;

  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    background-color: $color;

    @if ($position == top or $position== bottom) {
      // 上下边线
      left: 0;
      right: 0;
      #{$position}: 0;
      border-top: 1px solid $color;
      transform-origin: center #{$position};

      // 默认按照 dpr > 2
      @media (-webkit-min-device-pixel-ratio: 2) {
        transform: scale(1, 0.5);
      }

      // dpr > 3 时
      @media (-webkit-min-device-pixel-ratio: 3) {
        transform: scale(1, 0.3333);
      }
    } @else {
      //左右边线
      top: 0;
      bottom: 0;
      #{$position}: 0;
      border-left: 1px solid $color;
      transform-origin: #{$position} center;

      // 默认按照 dpr > 2
      @media (-webkit-min-device-pixel-ratio: 2) {
        transform: scale(0.5, 1);
      }

      // dpr > 3 时
      @media (-webkit-min-device-pixel-ratio: 3) {
        transform: scale(0.3333, 1);
      }
    }
  }
}

/** 
  * 移动端1px --> 一整圈。
  * 单单指定一边时，整圈放大-->缩小会出现误差，结果大于1px。
  */
@mixin onepx-round($color: $primary-light, $radius: 0) {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: 1px solid $color;
    transform-origin: top left;
    // 默认按照 dpr > 2
    @media (-webkit-min-device-pixel-ratio: 2) {
      $pixel-ratio: 2;
      width: 100% * $pixel-ratio;
      height: 100% * $pixel-ratio;
      border-radius: $radius * $pixel-ratio;
      transform: scale(1 / $pixel-ratio);
    }

    // dpr > 3 时
    @media (-webkit-min-device-pixel-ratio: 3) {
      $pixel-ratio: 3;
      width: 100% * $pixel-ratio;
      height: 100% * $pixel-ratio;
      border-radius: $radius * $pixel-ratio;
      transform: scale(1 / $pixel-ratio);
    }
  }
}

@mixin gradually() {
  &-fade-in {
    opacity: 1;
    visibility: visible;
  }

  &-face-out {
    opacity: 0;
    visibility: hidden;
  }
}
